{% extends 'app/base.html' %}
{% load static %}
{% block cart_content %}
<div class="row">
	<div class="col-lg-14">
		<div class="box-element">
			<h3>Giỏ hàng của bạn</h3>
			<hr>
			<a  style="float:left; margin:5px;" class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Quay về</a>

			<br>
			<br>
			<table class="table">
				<tr>
					<th><h5>Sản phẩm: <strong>{{order.get_cart_items}}</strong></h5></th>
					<th><h5>Tổng cộng:<strong>{{order.get_cart_total}}.000</strong></h5></th>
					<th> <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Thanh toán</a>
					</th>
				</tr>
			</table>

		</div>

		<br>
		<div class="box-element">
			<div class="cart-row">
				<div style="flex:2"></div>
				<div style="flex:2"><strong>Sản phẩm</strong></div>
				<div style="flex:1"><strong>Giá</strong></div>
				<div style="flex:1"><strong>Số lượng</strong></div>
				<div style="flex:1"><strong>Tổng cộng</strong></div>
			</div>
			{% for item in items %}
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{ item.product.ImageURL }}"></div>
				<div style="flex:2"><p>{{ item.product.name }}</p></div>
				<div style="flex:1"><p>{{ item.product.price }}</p></div>
				<div style="flex:1">
					<p class="quantity">{{ item.product.quantity }}</p>
					<div class="quantity">
						<img class="chg-quantity" src="{% static  'app/images/Hình bổ sung/arrow-up.png' %}">
				
						<img class="chg-quantity" src="{% static  'app/images/Hình bổ sung/arrow-down.png' %}">
					</div>
				</div>
				<div style="flex:1"><p>{{ item.total }}</p></div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock cart_content %}