{% extends 'app/base.html' %}
{% load static %}

{% block content_checkout %}

<div class="row">

    <!-- Bên trái: hóa đơn -->
    <div class="col-lg-6">
        <div class="box-element">

            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Quay về giỏ hàng</a>
            </a>

            <hr>
            <h3 class="text-center">Chi tiết đơn hàng</h3>
            <hr>

            <!-- Ds sản phẩm -->
            <div class="cart-row">
                <div style="flex:2"><strong>Sản phẩm</strong></div>
                <div style="flex:1"><strong>Giá</strong></div>
                <div style="flex:1"><strong>SL</strong></div>
                <div style="flex:1"><strong>Tổng</strong></div>
            </div>

            <!-- Demo item (sau này loop for) -->
            <div class="cart-row">
                <div style="flex:2">Mì Hảo Hảo</div>
                <div style="flex:1">4.000đ</div>
                <div style="flex:1">x2</div>
                <div style="flex:1">8.000đ</div>
            </div>
			<div class="cart-row">
                <div style="flex:2">Xúc xích</div>
                <div style="flex:1">15.000đ</div>
                <div style="flex:1">x2</div>
                <div style="flex:1">30.000đ</div>
            </div>

            <hr>

            <h5>Tổng tiền hàng: 2</h5>
            <h5 style="color:black">Tổng tiền: <span id="total">40000</span> đ</h5>

        </div>
    </div>



    <!-- Bên phải: Thanh toán -->
    <div class="col-lg-6">
        <div class="box-element">

            <h3>Thanh toán tại quầy</h3>
            <hr>

            <!-- Thanh toán -->
            <div class="form-group">
                <label>Khách đưa:</label>
                <input id="cash" type="number" class="form-control" placeholder="Nhập tiền khách đưa">
            </div>
            <br>
            <h5>Tiền thối:
                <span style="color:green" id="change">0</span>đ
            </h5>
            <hr>
            <button class="btn btn-success btn-block">
                Hoàn tất thanh toán
            </button>

            <button onclick="window.print()" class="btn btn-secondary btn-block">
            	In hóa đơn
            </button>

        </div>
    </div>

</div>



<!-- JS tính tiền thối -->
<script>
let total = parseInt(document.getElementById("total").innerText);

document.getElementById("cash").addEventListener("input", function () {
    let cash = parseInt(this.value || 0);
    let change = cash - total;

    document.getElementById("change").innerText = change > 0 ? change : 0;
});
</script>

{% endblock content_checkout %}
