body {
    width: 100%;
    min-height: 100%;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: black;
    overflow-x: hidden;
    background: #f0f0f0;
    -webkit-overflow-scrolling: touch;
    min-width: 320px;
    position: relative;
}